html, body {
    height: auto;
    margin: 0;
}

html {
	margin: 0;
	padding: 0;
	background-color: #fcfbf7;
	font-family: arial;
	color: #262626;
}

body{
	background-color: #FFE4C4;
	background-image: url("https://cdn.pixabay.com/photo/2018/01/22/19/17/guitar-3099753_960_720.png");
	background-repeat: no-repeat;
	background-position: right top;
}


article, aside {
    margin: 20px 5%;
    border: 2px solid #D4916A;
    padding: 5px;
    background-color: rgba(252, 236, 217, 0.85);
    width: 90%;
}

article, aside, nav, footer {
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.67);
}

aside {
	background-color: hsla(33, 85%, 92%, 0.5);
}

section {
    border-top: 2px solid #D4916A;
    margin-top: 20px;
}

h1{
	color: DarkRed;
	text-align: center;
	font-size: 40px;
}

h2{
	color: rgb(210,105,30);
	font-size: 35px;
}

p{
	margin-right: 200px;
	font-size: 20px;
}

aside{
	margin-right: 250px;
}

aside p{
	font-size: 15px;
}

footer{
    color: white;
    background-color: #333;
    padding: 5px;
    padding-left: 5%;
}
input[type=password], input[type=email]{
	width: 30%;
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1.5px solid #555555;
    -webkit-transition: 0.4s;
    transition: 0.3s;
    outline: none;
}

input[type=password]:focus, input[type=email]:focus {
    background-color: #edece8;
}

a.lessons:link, a.lessons:visited {
    background-color: white;
    color: black;
    border: 1.5px solid #ef9d62;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.lessons:hover, a.lessons:active {
	
    background-color: #ef9d62;
    color: white;
}