p.intro{
	border: 10px solid transparent;
    padding: 15px;
	border-image: url("https://mdn.mozillademos.org/files/6017/border-image-6.svg") 30 round;
	margin-right: 200px;
	font-family: "Verdana", sans-serif;
	font-size: 22px;
	font-style: italic;
}
